@import "tailwindcss";

:root {
  --foreground: oklch(78.9% 0.154 211.53);
  --foreground-dark: oklch(60.9% 0.126 221.723);
  --background: oklch(98.4% 0.019 200.873);
  --font-pacifico: "Pacifico";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-dark: var(--foreground-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
